<h1> New Admin Signup </h1>
<h2> Enter your information below to signup as an admin. </h2>

<%= render 'form', admin: @admin %>

<%= link_to 'Back to Admins', index_path, :class=>"navlinks-first" %> | 

<%= link_to 'Back to Main Page', discovery_path,:class=>"navlinks-next"  %>
