.carousel_element.container{class: tag, :id => product.name.gsub(' ', '_'), :onclick => "routeToPageDirectly('#{product_path(product.id)}')"}
  %button
    = image_tag product.picture, :class => 'image'
  %p.discovery-centered
    %td
      = product.name
  %p.overlay
    %td
      = 'Click here to learn more...'
