.trial
    %button.trial_button#button1 button1
    %button.trial_button#button2 button2
    %button.trial_button#button3 button3
    %button.trial_button#button4 button4
    %button.trial_button#button5 button5
    %button.trial_button#button6 button6
    %button.trial_button#button7 button7
    %button.trial_button#button8 button8
    %button.trial_button#button9 button9
    %button.trial_button#button10 button10