%div{:class => "container carousel_element #{local_assigns[:ownership].gsub(" ", "_")}", :id => local_assigns[:vendor].name.gsub(" ", "_"), :onclick => "routeToPageDirectly('#{vendor_path(local_assigns[:vendor].id)}')"}
  #carousel_image.button
    = image_tag local_assigns[:vendor].picture, :class => "element_image"
  %p{:class => "discovery-centered"}
    %td= local_assigns[:vendor].name

    -# add an onclick; onclick it sets the visibility property of the box to block
