.carousel_element.container{class: tag_snaked, id: item.name.downcase.gsub(' ', '_'), onclick: "routeToPageDirectly('#{item_path}')"}
  #carousel_image.button
    = image_tag item.picture, class: 'element_image'
  #carousel_element_text
    %p.element_name
      = item.name