.carousel
    %button.carousel_element#button1 button1
    %button.carousel_element#button2 button2
    %button.carousel_element#button3 button3
    %button.carousel_element#button4 button4
    %button.carousel_element#button5 button5
    %button.carousel_element#button6 button6
    %button.carousel_element#button7 button7
    %button.carousel_element#button8 button8
    %button.carousel_element#button9 button9
    %button.carousel_element#button10 button10
