%body
  = render 'header', currentPage: 'discovery', admin: false
  #discovery
    - @tags_hash.each do |tag, list|
      - tag = tag.gsub(' ', '_')
      = render 'carousel', type: 'product', tag: tag, list: list

    - @ownerships_hash.each do |tag, list|
      - tag = tag.gsub(' ', '_')
      = render 'carousel', type: 'vendor', tag: tag, list: list