%body
  = render 'header', currentPage: 'discovery', admin: false
  #discovery
    - @hashes.each do |type, type_hash|
      - type_hash.each do |tag, list|
        = render 'carousel', type: type, tag: tag, list: list
