%body#discovery
    %h1 Hello World
    =render "carousel"
    - @tags.each do |t|
        - t.each do |otype|
            = otype.name

    - @ownerships_hash.each do |tag, list|
        =render "carousel", tag: tag, list: list