#newDetailsPageContent

  -# visible tags on each page, make it look nice
  #tag_section
    - @tags.each do |t|
      - items_with_letter = ProducerTag.where(id: t)
      = render 'tagsDisplay', items: items_with_letter, sym: "A", admin: false, myclass: ProducerTag

  - if not @vendor.picture == nil and not @vendor.picture.empty?
    #image
      %img.imageNoText{ src: @vendor.picture, width:"600" , height:"400"}

  - if not @vendor.story == nil and not @vendor.story.empty?
    #story
      %h5.subhead Mission & Story
      %p.subheadtext.storytext
        = @vendor.story

  #story
    %h5.subhead Our Products:
    %h6.subheadtext
      - @products.each do |p|
        - items_with_letter = MyProduct.where(id: p)
        = render 'singleSymbolItems', items: items_with_letter, sym: "A", admin: false, myclass: MyProduct
        

= render 'footer', currentPage: 'my_vendor', admin: false




