#newDetailsPageContent

  -# visible tags on each page, make it look nice
  %h5.subhead Tags
  - @tags.each do |t|
    - items_with_letter = ProducerTag.where(id: t)
    = render 'singleSymbolItems', items: items_with_letter, sym: "A", admin: false, myclass: ProducerTag

  - if not @vendor.picture.empty?
    #image
      %img.imageNoText{ src: @vendor.picture, width:"600" , height:"400"}

  - if not @vendor.story.empty?
    #story
      %h5.subhead Mission & Story
      %p.subheadtext.storytext
        = @vendor.story
  


= render 'footer', currentPage: 'my_vendor', admin: false




