#newDetailsPageContent

  - if not @product.picture.empty?
    #image
      %img.imageNoText{ src: @product.picture, width:"600" , height:"400"}

  - if not @vendor.description.empty?
    #story
      %h5.subhead Mission & Story
      %p.subheadtext.storytext
        = @vendor.description



= render 'footer', currentPage: 'my_product', admin: false