#newDetailsPageContent

  -# visible tags on each page
  - @tags.each do |t|
    - items_with_letter = ProductTag.where(id: t)
    = render 'singleSymbolItems', items: items_with_letter, sym: "A", admin: false, myclass: ProductTag

  - if not @product.picture.empty?
    #image
      %img.imageNoText{ src: @product.picture, width:"600" , height:"400"}

  - if not @product.description.empty?
    #story
      %h5.subhead
      %p.subheadtext.storytext
        = @product.description



= render 'footer', currentPage: 'my_product', admin: false