#newDetailsPageContent

  -# visible tags on each page

  - if not @product.picture.empty?
    #image
      %img.imageNoText{ src: @product.picture, width:"600" , height:"400"}

  - if not @product.description.empty?
    #story
      %h5.subhead
      %p.subheadtext.storytext
        = @product.description



= render 'footer', currentPage: 'my_product', admin: false