- if not @vendor.facebook.empty?
  = button_to @vendor.facebook, {method: :get, class: 'socialBtn'} do
    %i.fa.fa-facebook-square
- if not @vendor.twitter.empty?
  = button_to @vendor.twitter, {method: :get, class: 'socialBtn'} do
    %i.fa.fa-twitter-square
- if not @vendor.instagram.empty?
  = button_to @vendor.instagram, {method: :get, class: 'socialBtn'} do
    %i.fa.fa-instagram