#center
  %image#detailsPageImage.imageNoText{:src => image_url(@vendor.picture)}
  #socialNoText
    %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.facebook}')"}
      %i.fa.fa-facebook-square
    %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.twitter}')"}
      %i.fa.fa-twitter-square
    %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.instagram}')"}
      %i.fa.fa-instagram
    #extendTags.extendContentMissing
      - if @vendor.ownerships.length > 4
        - @vendor.ownerships[5...@vendor.ownerships.length].each do |tag|
          %h3.tagLinks
            = tag.name