- if not @vendor.mission.empty?
  #mission
    %h5.subhead Mission
    %p.subheadtext
      = @vendor.mission
- if not @vendor.story.empty?
  #story
    %h5.subhead Story
    %p.subheadtext
      = @vendor.story