#center
  %image#detailsPageImage.imageNoText{:src => image_url(@vendor.picture)}
  #socialNoText
    = render "details_social_buttons"
    #extendTags.extendContentMissing
      = render "details_extend_tags"