#detailsPageContent
  #leftAlign
    = image_tag @vendor.picture, id: 'detailsPageImage', class: 'imageWithText'
    #socialWithText
      = render 'details_social_buttons'
    #extendTags
      = render 'details_extend_tags'
  #detailsPageText
    = render 'details_text'