%head 
	%link{:rel => "stylesheet", :href => "../../app/stylesheets/add_vendor.css"}

#form_div
	%h2 Add New Vendor 
	= form_tag vendors_path do
		#form_elements_div
			.element_div
				=label :vendor, :name, "Name"
				=text_field :vendor, "name"
			.element_div
				=label :vendor, :description, "Description"
				=text_field :vendor, "description"

			.element_div
				=label :vendor, :address, "Address"
				=text_field :vendor, "address"

			.element_div
				=label :vendor, :facebook, "Facebook"
				=text_field :vendor, "facebook"

			.element_div
				=label :vendor, :twitter, "Twitter"
				=text_field :vendor, "twitter"

			.element_div
				=label :vendor, :instagram, "Instagram"
				=text_field :vendor, "instagram"

			.element_div#submit_div
				= submit_tag "Add Vendor", id: "submit_button"
				%button.btn.btn_danger#cancel_button Hello
