%head 
	%link{:rel => "stylesheet", :href => "../../assets/stylesheets/add_vendor.css"}
	%script{:src => "../../assets/javascripts/scripts.js"}

#form_div
	%h2 Add New Vendor 
	= form_tag vendors_path do
		#form_elements_div
			.form_group.element_div
				=label :vendor, :name, "Name"
				=text_field :vendor, "name"
			.form_group.element_div
				=label :vendor, :description, "Description"
				=text_field :vendor, "description"

			.form_group.element_div
				=label :vendor, :address, "Address"
				=text_field :vendor, "address"

			.form_group.element_div
				=label :vendor, :facebook, "Facebook"
				=text_field :vendor, "facebook"

			.form_group.element_div
				=label :vendor, :twitter, "Twitter"
				=text_field :vendor, "twitter"

			.form_group.element_div
				=label :vendor, :instagram, "Instagram"
				=text_field :vendor, "instagram"

			.form_group#submit_div
				= submit_tag "Add Vendor", id: "submit_button", :class => "btn btn-primary"
				%button.btn.btn-danger#cancel_button{:type => "button", :onclick => "confirmCancel()"} Cancel