= render 'header', currentPage: 'my_product', admin: false
#details
  #detailsPageHeader
    %h1.item_name
      = @product_tag.name
  - @tags.each do |v|
    - items_with_letter = MyProduct.where(id: v)
    = render 'singleSymbolItems', items: items_with_letter, sym: "A", admin: false, myclass: MyProduct
  = render 'all_content'