@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

#vendorsBody{
	background-color: lightblue;
}

#productsBody{
	background-color: lightgreen;
}

#form_div{
	display: grid;
	grid-column: 2/3;
	padding: 5px;
}

#form_elements_div{
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


h2 {
	background-color: lightgray;
	text-align: center;
}

h4 {
	background-color: lightgray;
	text-align: center;
	text-decoration: underline;
}

label{
	text-align: center;
}

.element_div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-bottom: groove;
	padding: 10px;
}

#submit_div{
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	padding: 10px;
}

#submit_button:hover{
	background-color: darken($blue, 10%)
}

#cancel_button:hover{
    background-color: darken($red, 10%)
}

.checkboxClass{
	display: grid;
	grid-template-columns: 3fr 1fr;
}

#vendorDropdown{
	padding: 10px;
	display: flex;
	justify-content: center;
}

// Index Pages

#letter-nav {
		justify-content: center;
		text-align: center;
		margin-left:auto;
	  margin-right:auto;
		table-layout: fixed;
}

#letters {
	font-weight: normal;
	font-size: 10pt;
	font-family: 'Raleway', sans-serif;
	color: #BEBEBE;
}

#jump {
	padding: 5px;
}

#index {
	justify-content: center;
	text-align: center;
	margin-left:auto;
  margin-right:auto;
	table-layout: fixed;
}

#letter-heading {
	font-weight: bold;
	font-size: 20pt;
	font-family: 'Raleway', sans-serif;
}

.togglePage {
	margin: 10px;
	color: #000;
	font-size: 25pt;
	font-family: 'Raleway', sans-serif;
	font-weight: 1000;
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}

.centered {
  display: flex;
  justify-content: center;
}

$selected-color: #E33D35;
$unselected-color: #6FC051;

#selected {
	color: $selected-color;
	text-decoration: underline;
}

#unselected {
	color: $unselected-color;
}

#logo {
	height: 129px;
	width: 135px;
}