// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  padding-left: 50px;
}

.button {
  margin-left: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 70px;
}
