@import "externalStyling";
@import "themeColors";

#details {
  max-width: 1500px;
  display: grid;
  grid-column: 2/3;
  margin: 0px;
  padding: 0px;
}

#detailsPageHeader {
  display: block;
  background-color: $gray-image-color;
  position: relative;
  width: 100vw;
  height: 45vh;
  justify-content: center;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  word-wrap: break-word;
}

.item_name {
  color: white;
  font-weight: normal;
  font-size: 5vw;
  font-family: 'Arvo', sans-serif;
  background-color: Transparent;
  background-repeat:no-repeat;
  word-wrap: break-word;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#accents {
  display: inline-block;
  position: absolute;
  top: 97.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tags {
  display: inline-flex;
  margin-top: 7.5vh;
  justify-content: center;
}

.tagBtns {
  background-color: $gray-color;
  color: #fff;
  font-weight: normal;
  font-size: 15pt;
  font-family: 'Arvo', sans-serif;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.tagBtns:hover {
   max-width: none;
}

#extendTags {
  padding-left: 10px;
  margin-top: 10px;
  max-width: 250px;
  flex-wrap: wrap;
  display: flex;
}

.extendContentMissing {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
}

.tagLinks {
  color: $gray-color;
  font-weight: normal;
  font-size: 12pt;
  font-family: 'Arvo', sans-serif;
  background-repeat:no-repeat;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  max-width: 250px;
}

.tagLinks:hover {
  text-decoration: underline;
}

#detailsPageContent {
  display: inline-flex;
  padding: 5px;
  max-width: 1500px;
  margin-top: 5px;
}

#detailsPageImage {
  border-radius: 15px;
  max-width: 250px;
  max-height: 262px;
}

.imageNoText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.imageWithText {
  margin-right: 15px;
}

#detailsPageText {
  color: #000;
  font-weight: normal;
  font-size: 15pt;
  font-family: 'Arvo', sans-serif;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  word-wrap: break-word;
}

.detailsTextNoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.detailsTextWithImage {
  min-width: 350px;
  max-width: 500px;
  margin-left: 15px;
  padding-top: 5px;
}

.subhead {
  justify-content: center;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  color: #000;
  font-weight: bold;
  font-size: 18pt;
  font-family: 'Arvo', sans-serif;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  word-wrap: break-word;
}

.subheadtext {
  color: #000;
  font-weight: normal;
  font-size: 12pt;
  font-family: 'Arvo', sans-serif;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  word-wrap: break-word;
}
