#discovery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr
}

.carousel {
  overflow: auto;
  white-space: nowrap;
  padding: 50px;
  text-align: center;
  border-bottom-style: outset;
}

.carousel_header {
  font-weight: bold;
  font-family: 'Arvo', sans-serif;
  padding-bottom: 50px;
  position: sticky;
  left: 0;
}

.carousel_element {
  transition: 0.5s transform;
}

.carousel_element:hover {
  transform: scale(1.3);
}

.carousel_image {
  background-color: Transparent;
}

.image {
  width: scale;
  height: scale;
  object-fit: contain;
  max-width: 200px;
  max-height: 200px;
  border-radius: 15px;
  border-color: white;
  border-width: 5px;
}

.spreadLeft {
  transform: translate3d(-30px, 0px, 0px);
  opacity: 0.5;
}

.spreadRight {
  transform:translate3d(30px, 0px, 0px);
  opacity: 0.5;
}

.shade {
  opacity: 0%;
}

.discovery-centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 180px;
  max-height: 180px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  position: relative;
  color: #efefef;
  text-align: center;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  font-size: 20pt;
  font-family: 'Arvo', sans-serif;
  font-weight: 400;
  display: inline-block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 80%;
  height: 95%;
  opacity: 0;
  font-size: 10pt;
  touch-action: none;
  transition: opacity 1s;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}

.container:hover .overlay {
  opacity: 1;
  touch-action: auto;
}

.navbar {
  min-height: 20px;
}

.navbar-brand {
  line-height: 80px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.navbar-text {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #f00 !important;
}