@import "themeColors";

#image_header {
  color: white;
}

.header_image {
  background-color: $gray-image-color;
  min-width: 100vw;
  height: scale;
  width: scale;
}

.img_hdr_text {
  color: white;
  font-weight: bold;
  font-family: 'Arvo', sans-serif;
  font-size: 8vw;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#discovery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: $gray-image-color;
  margin-top: -3%;
}

.carousel {
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  border-bottom-style: outset;
  scroll-behavior: smooth;
  overflow: -moz-scrollbars-none;
  border: none;
  margin-bottom: 12vh;
  margin-left: 1vw;
  margin-right: 1vw;
  scrollbar-width: none
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel_header {
  font-weight: bold;
  font-family: 'Arvo', sans-serif;
  position: sticky;
  left: 0;
  color: white;
  margin-bottom: 4.5vh;
}

.carousel_element {
  transition: 0.5s transform;
}

.carousel_image {
  background-color: Transparent;
  background-size: contain;
}

.element_image {
  width: scale;
  height: scale;
  object-fit: contain;
  max-width: 350px;
  max-height: 350px;
  border-radius: 15px;
  border: 5px solid white;
}

.spreadLeft {
  transform: translate3d(-30px, 0px, 0px);
  opacity: 0.5;
}

.spreadRight {
  transform:translate3d(30px, 0px, 0px);
  opacity: 0.5;
}

.shade {
  opacity: 0%;
}

.discovery-centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 180px;
  max-height: 180px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#carousel_parallax {
  background-color: white;
  width: 100vw;
}

.container {
  position: relative;
  color: #efefef;
  text-align: center;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  font-size: 20pt;
  font-family: 'Arvo', sans-serif;
  font-weight: 400;
  display: inline-block;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 80%;
  height: 95%;
  opacity: 0;
  font-size: 10pt;
  touch-action: none;
  transition: opacity 1s;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}

.container:hover .overlay {
  opacity: 1;
  touch-action: auto;
}
