@import "themeColors";

#image_header {
  color: white;
  position: relative;
}

.header_image {
  background-color: $gray-image-color;
  width: 100vw;
  height: scale;
}

.img_hdr_text {
  color: white;
  font-weight: bold;
  font-family: 'Arvo', sans-serif;
  font-size: 8vw;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#discovery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: $gray-image-color;
  margin-top: -3%;
  width: 100vw;
}

.carousel {
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  border-bottom-style: outset;
  scroll-behavior: smooth;
  overflow: -moz-scrollbars-none;
  border: none;
  margin-bottom: 12vh;
  margin-left: 1vw;
  margin-right: 1vw;
  scrollbar-width: none;
	width: 98vw;
}

#carousel_item {
  max-width: 500px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel_header {
  font-weight: bold;
  font-family: 'Arvo', sans-serif;
  position: sticky;
  left: 0;
  color: white;
  margin-bottom: 4.5vh;
}

.carousel_element {
  transition: 0.5s transform;
}

.carousel_image {
  background-color: Transparent;
  background-size: contain;
}

.element_image {
  width: scale;
  height: scale;
  object-fit: contain;
  max-width: 350px;
  max-height: 350px;
  border-radius: 15px;
  border: 5px solid white;
}

#carousel_element_text {
  margin-top: 1vh;
  max-width: 500px;
  word-wrap: break-word;
  text-align: center;
  font-family: 'Arvo', sans-serif;
  color: white;
}

#element_name {
  word-wrap: break-word;
  max-width: 350px;
  white-space: pre-wrap;
}

.carousel_parallax {
  background-color: white;
  width: 100vw;
}

.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 500px;
}
