body#discovery{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr
}

.carousel{
  overflow: auto;
  white-space: nowrap;
  padding: 50px;
  text-align: center;
}

.carousel_element{
  transition: 0.5s transform;
}

.carousel_element:hover {
  transform: scale(1.3);
}

.image {
  width: auto;
  height: 300px;
}

.spreadLeft {
  transform: translate3d(-30px, 0px, 0px);
  opacity: 0.5;
}

.spreadRight {
  transform:translate3d(30px, 0px, 0px);
  opacity: 0.5;
}

.shade {
  opacity: 0%;
}

.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.container {
  position: relative;
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
  display: inline-block;
  width: 300px;
  word-wrap: break-word;
}

.overlay {
  position: absolute;
  bottom: 10px;
  left: 30px;
  opacity: 0;
  touch-action: none;
  transition: opacity 0s;
  width: 200px;
  word-wrap: break-word;
}

.container:hover .overlay {
  opacity: 1;
  touch-action: auto;
}
.container:hover .bottom-left {
  opacity: 0;
  touch-action: auto;
}