@import 'themeColors';

#socialmedia {
}

#logoheader {
  height: 65px;
  width: 67px;
}

.navbar {
  background-color: $gray-image-color;
  font-family: 'Arvo', sans-serif;
  font-size: 100%; //changes size of green plus button in admin view
  display: inline-block;
  width: 100vw;
  height: 7vw;
}

.nav-item {
  padding-right: 70px;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    text-align: center;
    justify-content: center;
    float: none;
    padding-bottom: 0vh;
    padding-left: 50px;
    width: 100vw;
    font-size: 75%; //changes font of nav bar headers i.e Discover and Vendors
  }
}

// Dropdown for adding a new item to a form in the admin page
.dropdown-content form:hover {
  background-color: $gray-color;
}

.dropdown-content button:hover {
  background-color: $gray-color;
}

.dropdown:hover .dropdown-content {
  display: block;
  left: auto;
  right: 0;
}

.fa-plus:hover,
.fa:hover {
  transform: scale(2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: none;
  background-color: Transparent;
}

.fa-plus {
  color: $unselected-color;
  font-size: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  float: left;
}

.dropdown-content form {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #000;
  font-weight: normal;
  font-size: 15pt;
  font-family: 'Arvo', sans-serif;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.admin {
  color: $selected-color;
}

//Dropdown for the vendors and products menu
.dropdown,
.dropdown-toggle {
  padding-right: 50px;
  padding-top: 10px;
  font-size: 130%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu > li {
  padding: 5px;
  float: left;
}

.dropdown-menu > li > a {
  color: darkslategrey;
  background-color: transparent;
  padding: 5px;
}

.dropdown-menu > li:hover a,
.dropdown-menu > li > a:hover {
  color: black;
  text-decoration: underline;
}
#login_button:hover,
#logout_button:hover {
  background-color: white;
}
