%footer
  .footer-static
    %p.footer-content
      ©
      = link_to "Berkeley Student Food Collective", 'http://www.foodcollective.org/', class: 'footer_hov_link'
      #{Time.now.year} | All Rights Reserved.</br>
      2440 Bancroft Way #102, Berkeley, CA, 94704 </br>
      Director@FoodCollective.org | 510-845-1985