#detailsPageText.detailsTextNoImage
  = render "details_text"
  #dietaryRestrictionsContentMissing
    = render "details_dietary_restrictions"
    #extendTags.extendContentMissing
      = render "details_extend_tags"