- if @product.vegan
  = image_tag 'vegan', class: 'iconLogo'
- if @product.gluten_free
  = image_tag 'glutenfree', class: 'iconLogo'
- if @product.dairy_free
  = image_tag 'dairyfree', class: 'iconLogo'
