- if @product.vegan
  = image_tag 'product-icons/vegan', class: 'iconLogo'
- if @product.gluten_free
  = image_tag 'product-icons/glutenfree', class: 'iconLogo'
- if @product.dairy_free
  = image_tag 'product-icons/dairyfree', class: 'iconLogo'
