#center
  %image#detailsPageImage.imageNoText{:src => image_url(@product.picture)}
  #dietaryRestrictionsContentMissing
      = render "details_dietary_restrictions"
    #extendTags.extendContentMissing
      = render "details_extend_tags"
  #socialNoText
    = render "details_social_buttons"
    #extendTags.extendContentMissing
      = render "details_extend_tags"