#detailsPageContent
  #leftAlign
    = image_tag @product.picture, id: 'detailsPageImage', class: 'imageWithText'
  #detailsPageText.detailsTextWithImage
    = render 'details_text'
    #extendTags.extendContentMissing
      = render 'details_extend_tags'
