- if @product.vegan
  = image_tag 'product-icons/vegan.png', class: 'iconLogo'
- if @product.gluten_free
  = image_tag 'product-icons/glutenfree.png', class: 'iconLogo'
- if @product.dairy_free
  = image_tag 'product-icons/dairyfree.png', class: 'iconLogo'
