#detailsPageContent
  #leftAlign
    = image_tag @product.picture, id: 'detailsPageImage', class: 'imageWithText'
    #dietaryRestrictionsFullContent
      = render 'details_dietary_restrictions'
    #extendTags
      = render 'details_extend_tags'
  #detailsPageText.detailsTextWithImage
    = render 'details_text'