#center
  = image_tag @product.picture, id: 'detailsPageImage', class: 'imageNoText'
  #dietaryRestrictionsContentMissing
    = render 'details_dietary_restrictions'
    #extendTags.extendContentMissing
      = render 'details_extend_tags'