#detailsPageContent
  #leftSidebar
    = image_tag @product.picture, id: 'detailsPageImage', class: 'imageWithText'
    #extendTags
      = render 'details_extend_tags'
  #detailsPageText.detailsTextWithImage
    .pageText
      = render 'details_text'
