- if @product.vegan
  = image_tag 'vegan.png', class: 'iconLogo'
- if @product.gluten_free
  = image_tag 'glutenfree.png', class: 'iconLogo'
- if @product.dairy_free
  = image_tag 'dairyfree.png', class: 'iconLogo'
