- if not @product.origin.empty?
  %h5.subhead Origin
  %p.origintext
    = @product.origin
- if not @product.cultural_history.empty?
  %h5.subhead Cultural History
  %p.subheadtext
    = @product.cultural_history