- if not @product.origin.empty?
  %h5.subhead Origin
  %p.subheadtext.origintext
    = @product.origin
- if not @product.cultural_history.empty?
  %h5.subhead Cultural History
  %p.subheadtext.culturaltext
    = @product.cultural_history
