%head 
	%link{:rel => "stylesheet", :href => "../../app/stylesheets/add_vendor.css"}

%h2 Add New Vendor 

%script
	alert("Hello")

#form_div
	= form_tag vendors_path do
		#form_elements_div
			=label :vendor, :name, "Name"
			=text_field :vendor, "name"

			=label :vendor, :name, "Description"
			=text_field :vendor, "description"

			=label :vendor, :name, "Address"
			=text_field :vendor, "address"

			=label :vendor, :name, "Facebook"
			=text_field :vendor, "facebook"

			=label :vendor, :name, "Twitter"
			=text_field :vendor, "twitter"
			=label :vendor, :name, "Instagram"
			=text_field :vendor, "instagram"

			= submit_tag "Add Vendor"
